.login_main{

  height: 100vh;
  width:100%;

  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height:100vh;
    width:100%;

    /* height:80vh;
    width:60vw; */
    background-color:white;
    border-radius:10px;
  }
  
  img{
    height:auto;
    width:100%;;
  }
  
  .login_container_left{
    width:50%;
    height:100%;
    border-radius: 0 10px 10px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 212, 247);
  }
  
  .login_container_right{
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 5px 10px 7px #aaa8a8;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:normal;
  }

  .form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
  }

  .login-button {
    width: 100%;
    padding: 15px;
    background-color: rgb(146, 95, 226);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: rgb(79, 38, 147);
  }

.loginform_text{
  padding:0;
  font-size: 13px;
  margin-bottom:25px;
}

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    color: #242424;
  }

  .login_navlink{
    text-decoration: none;
    color:white;
  }
  
  .login_navlink1{
    text-decoration: none;
    color:rgb(118, 61, 233);
  }

  .new_account{
    margin-top: 10px;
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
  }