.main_content_left{
    /* background-color: rgb(146, 95, 226); */
    background-image: linear-gradient(to top, rgb(146, 95, 226) 40%, rgb(180, 149, 225));
    width:18vw;
    /* height:74vh; */
    height:510px;
    border-radius:15px;
    margin-top:25px;
    box-shadow: 5px 10px 7px #aaa8a8;
}

.profile_picture{
    width:100%;
    height:250px;
    gap:20px;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard_profile_photo{
    /* height:160px;
    width:160px; */
     height:11vw;
    width:11vw;
    margin-top: 35px;
    border-radius:20px;
    background-color:rgb(63, 37, 105);
}

.dashboard_navlink_container{
    /* background-color: aquamarine; */
    display:flex;
    flex-direction: column;
    margin-left: 25px;
}

.dashboard_navlink{
    text-decoration: none;
    color:rgb(161, 161, 161);
}

.performance{
    padding:15px;

    /* margin-left: 20px; */

    /* background-color:rgb(255, 16, 16);     */
    display:flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;


/*  *****************************8After adding the SVG uncomment the below thing**************************** */



    /* margin-top: 5px;
    width:85%;
    height:60px;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(46, 80, 109);
     */
}


.student_name{
    color:white;
}

.performance_svg_container{
    height:20px;
    width:20px;
    margin-right: 20px;
}

