.dashboard_main{
    padding:25px;
}

.dashboard_content{
    display:flex;
}

/* .navbar{
    background-color: rgb(146, 95, 226);
    border-radius: 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px; 
    font-size: 20px;
}

.navbar_navlink{
    text-decoration: none;
    color:white;
}


.navbar_right button{
    border: none;
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius:10px;
}

.main_content{
    display:flex;
}

.main_content_left{
    background-color: rgb(146, 95, 226);
    width:18vw;
    height:74vh;
    border-radius:15px;
    margin-top:25px;
}

.profile_picture{
    width:100%;
    height:250px;
    gap:12px;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard_profile_photo{
    height:160px;
    width:160px;
    margin-top: 35px;
    border-radius:20px;
    background-color:rgb(63, 37, 105);
}

.dashboard_navlink_container{
    display:flex;
    flex-direction: column;
}

.dashboard_navlink{
    text-decoration: none;
    color:white;
} */

/* .performance{
    padding:15px;
    margin-left: 20px;
    color:rgb(162, 161, 161);     */


/*  *****************************8After adding the SVG uncomment the below thing**************************** */
/* display:flex;
    align-items: center;
    justify-content: center; */



    /* margin-top: 5px;
    width:85%;
    height:60px;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(46, 80, 109);
     */
/* } */

/* 
.student_name{
    color:white;
} */

