.performance_main{
    padding:25px;
}

.performance_main_bottom{
    display:flex;
}

.performance_main_bottom_right{
    /* background-image: linear-gradient(to right,red ,yellow); */
    width:100%;
    margin:25px;
    border-radius: 10px;
}

.performance_main_bottom_right_heading{
    padding:10px 20px;
    font-size: 23px;
    font-weight: 500;
}

.performance_main_bottom_right_container{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}