*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_main{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.home_container{
    /* background-color: rgb(205, 226, 244); */
    display:flex;
}

.home_container_left{
    width:50%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 212, 247);
    border-radius:0 10px 10px 0;
}

img{
    height:auto;
    width:100%;;
  }

.home_container_right{
    width:50%;
    height:100vh;
}

.home_down{
width:100%;
height:80%;
/* background-color: royalblue; */
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.home_down_btn{
    padding:30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(146, 95, 226);
    width:30vw;
    transition: background-color 0.3s ease;
}

.home_down_btn:hover {
    background-color: rgb(79, 38, 147);
  }

.home_navlink{
    font-size: 30px;
    text-decoration: none;
    color:white;
}

.svg_container{
    height:25px;
    width:25px;
    
}

.svg_text{
    font-weight: 400;
}

.home_top_btn{
    display:flex;
    align-items: center;
    justify-content: left;
    padding:30px 20px;
}

.home_navlink1{
    text-decoration: none;
    color:black;
}

.svg_main_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_navlink2{
    text-decoration: none;
    color:rgb(146, 95, 226);
}

.student_teacher_container{
    margin:10px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px;
}