.teacher_profile_main{
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 95, 226);
    border-radius: 10px;
    margin-bottom: 20px;

    height:250px;
    width:230px;
}

.teacher_profile_top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;
   
    /* background-color: rgb(19, 19, 240); */
}

.teacher_profile_image{
    width:100px;
    height:100px;
    background-color: rgb(222, 215, 215);
    border-radius: 50%;
}

.teacher_profile_bottom{
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}