  .clock_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .clock_container{
    font-size: 30px;
    font-weight: 500;
  }