.student_main{
    padding:25px;
}

.student_main_down{
    display:flex;
}

.student_main_down_right{
    width:100%;
    /* background-color: rgb(220, 75, 75); */
    padding:25px;
}






.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width:100%;
  }
  
  .form-box {
    background: rgb(255, 255, 255);
    padding: 25px 50px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 10px 7px #aaa8a8;
  }
  
  .form-group-top{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    width:100%;
    /* background-color: aqua; */
  }

  .form-group-top .form-group {
    /* margin-bottom: 15px; */
    /* background-color: brown; */
    width: 50%;
  }
  
  .form-group label {
    display: block;
    /* margin-bottom: 10px; */
    font-weight: bold;
    color: #000000;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #b5b3b3;
    border-radius: 4px;
  }
  
  .profile-submit-button {
    width: 50%;
    background-color: rgb(146, 95, 226);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

  }
  
  .profile-submit-button:hover {
    background-color: rgb(79, 38, 147);
  }
  
  .profile-submit-button-container{
    width:100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
  }